<div class="background"></div>
<div class="page">

	<div class="loading-mouse-only"></div>

    <div class="content">
	    <div class="left">
	        <div class="interaction WebcamControlView"></div>
		    <div class="loading">
			    <img class="loader-icon" src="img/essential/ajax-loader.gif" />
			    <p class="title"><bdo>{{t "ExperienceLoadingView.title"}}</bdo></p>
			    <p class="progress">0%</p>
		    </div>
	    </div>
        <div class="right">
            <video class="instructions-video"></video>
            <video class="instructions-video secondary"></video>
            <p class="instructions regular"><bdo>{{t "ExperienceLoadingView.instructionsRegular"}}</bdo></p>
            <p class="instructions touch"><bdo>{{t "ExperienceLoadingView.instructionsTouch"}}</bdo></p>
            <div class="error inactive link mouse-mode">
                <p><bdo>{{t "PhoneDetection.errorWebcam"}}</bdo></p>
            </div>
            <p class="error-touch">{{t "Error.ioschrome"}}</p>
        </div>
    </div>
</div>
