<div class="background"></div>
<div class="page">
    <div class="content">

        <div class="logo">
            <div class="asset logo-about"></div>
            <aside class="separator">-</aside>
            <p class="title"><bdo>{{t "HelpView.title"}}</bdo></p>
        </div>

        <div class="debug">
            <div class="display orientation"></div>
        </div>

        <div class="copy-grid">
            <div class="one-column">
                <h1 class="hero-text"><bdo>{{t "HelpView.instructionsTitle"}}</bdo></h1>
            </div>
            <div class="two-columns">
                <p class="copy regular"><bdo>{{t "HelpView.instructionsRegular"}}</bdo></p>
                <p class="copy touch"><bdo>{{t "HelpView.instructionsTouch"}}</bdo></p>
            </div>
        </div>

    </div>

    <section class="inactive">
        <div class="asset webcam-arrow"></div>
        <p><bdo>{{t "HelpView.promptWebcam"}}</bdo></p>
        <div class="mouse-controls link mouse-mode"><bdo>{{t "SetupView.mouse"}}</bdo></div>
    </section>

    <section class="disconnected">
        <p><bdo>{{t "HelpView.promptConnection"}}</bdo></p>
        <div class="mouse-controls link mouse-mode"><bdo>{{t "SetupView.mouse"}}</bdo></div>
    </section>

    <section class="break-free">
        <p><bdo>{{t "HelpView.breakfree"}}</bdo></p>
    </section>

    <button class="close hover">
        <div class="asset icon-close out"></div>
        <div class="asset icon-close-over over"></div>
    </button>

</div>
