<div class="background"></div>
<div class="gradient"></div>
<div class="page">
    <div class="background asset background-homepage"></div>

    <div class="content">

        <div class="hero-logo asset logo-hero-just-a-reflector"></div>
        <p class="title"><bdo>{{t "LandingPage.title"}}</bdo></p>
        <button class="box enter" dir><bdo>{{t "LandingPage.enter"}}</bdo></button>
        <p class="error-browser other" dir><bdo>{{t "LandingPage.errorBrowser"}}</bdo></p>
        <p class="error-browser ff" dir><bdo>{{t "LandingPage.errorFF"}}</bdo></p>

    </div>

    <div class="link mouse-mode" dir><bdo>{{{t "SetupView.mouse"}}}</bdo></div>
</div>
